*{    margin:0px;   padding:0px; }
body{    background-color: aquamarine;}
#container{
    width:1140px;    min-height:1540px;    background-color: azure; margin:auto auto;
}
.row{min-height:5px;}
.col100{width:100%;}
.col75{width:75%; float:left;}
.col50{width:50%; float:left;}
.col25{width:25%; float:left;}
.clear{clear:both;}
.imgresponsive{width:100%; height:auto;}
.clear{clear:both;}

#banner{
    width:100%;
    min-height: 150px;
    background-image: url('../images/banner1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#social{
    right:0px;
    top:200px;
    position:fixed;
    width:50px;
    height:230px;
    background-color: brown;
}

#social ul{
    list-style-type: none;
}
#social ul li{
    font-size:2.7em;
    color:#ffffff;
    padding:3px;

}
.topmenu{width:100%; background-color: coral; min-height: 60px;}
.topmenu nav{}
.topmenu nav ul{list-style-type:none;}
.topmenu nav ul li{display: inline-block; padding:15px; font-size:2em;color:#ffffff}
@media screen and (max-width: 768px)
{
    body{background-color:blue;}

    #container{width: 750px;};
    .colmd100{width:100%}
.colmd75{width:75%; float:left;}
.colmd50{width:50%; float:left;}
.colmd20{width:50%; float:left;}

}

@media screen and (max-width: 360px){
    body{
        background-color: green;
    }

    #container{width: 340px;}
    .colsm100{width:100%;}
    .colsm75{width:75%; float:left;}
.colsm50{width:50%; float:left;}
.colsm20{width:50%; float:left;}
}